
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, button {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: inherit;
	font-family: 'Roboto', sans-serif;
}

body {
	background: #eee;
}

#sp0 {
	position: absolute;
	top: 40px;
	left: 40px;
}

#sp1 {
	position: absolute;
	top: 40px;
	left: (40px + 480px + 24px);
}

#sp2 {
	position: absolute;
	top: 40px;
	left: (40px + 480px + 24px + 480px + 24px);
}

.spExamples {
	display: flex;
	flex-direction: row;
}

.selectionPicker {
	margin-right: 24px;
	max-width: 480px;
	min-width: 320px;
	max-height: 660px;
	display: flex;
	flex-direction: column;
	background-color: white;
	box-shadow:4px 4px 16px rgba(0, 0, 0, .56);
}

.spHeader {
	background: blue;
	flex: 0 0 56px;
}

.spFooter {
	background: red;
	flex: 0 0 56px;
}

.spList {
	flex: 2 2;
	overflow: auto;
}

.spListItem {
	height: 40px;
	background-color: pink;
	line-height: 40px;
	padding: 0 16px;
	
	&:empty {
		display: none;
	}
}

.spSelections {
	flex: 1 1;
	overflow: auto;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	padding: 16px 8px;

	&:empty {
		display: none;
	}
}

.spSelection {
	height: 40px;
	padding: 0 16px;
	margin-bottom: 4px;
	margin-right: 4px;
	border-radius: 20px;
	background-color: darkblue;
	line-height: 40px;
	color: white;
}


@media screen and (min-width: 800px) {

}

